@font-face {
    font-family:'university';
    src: url('University.ttf');
}    
h1
{
    color: seagreen;
    font-size : 400%;
    font-family: 'university';
    text-align: center;
}
h2
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    clear:both;
}


.logo 
{
    text-align: center;
}

#search {
    border: 3px rgb(5, 47, 5) groove;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    width: 177px;
    padding-left: 0px; /* Ajustez la valeur selon vos besoins */
    margin-left: 1210px; /* Ajustez la valeur pour le décalage vers la droite */
}

#search:hover 
{
    border: 5px white solid;
    border-radius: 10px;
}
#menu
{
    list-style-type: none;
    margin: 0;
    padding-left: 180px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items:center;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 3px;
    color: aliceblue;
}
#menu li
{
    margin-right: 190px;
    white-space: nowrap;
}


#menu:hover
{
    border: 5px darkgreen;
}

.imagebde
{
    text-align: center;
}
#wei
{
    color: green;
    font-size : 160%;
}
#p1,#p2
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 120%;
}

@font-face {
    font-family:'dklongreach';
    src: url('DKLongreach.ttf');
}  
li a 
{
    font-weight: bold;
    color: seagreen;
    font-size : 250%;
    font-family: 'dklongreach';
    text-decoration: none;
}

#contact
{
    background-color:seagreen;
    text-align: center;
    text-decoration: none;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body
{
    background-color: rgba(188,230,191,0.5);
}

